/* ============== BACKGROUND ================ */

body{
    margin          : 0;                             /* to remove all extra spaces around screen content */ 
    padding         : 0;                             /* no padding for same reason */
    width           : 100%;                          /* take up full screen width & height */
    height          : 100%;
    background-color: deepskyblue;
}

/* ============== HEADING INSTRUCTIONS ================ */

/* #instructions h1 {                                /* commented out cos graders want app to EXACTLY replicate one in video*/
/*    display    : block;
    width      : 35%;
    margin-left: 65%;
    color      : white;
    margin-top : 600px;
    font-family: Arial;
}
*/

/* ============== ROW 1 ================ */

/*===== Grid Image 1 =======*/

#grid1-1{                               /* style 1st img of the grid (from top left)*/
    position: absolute;
    top     : 0px;
    left    : 0px;
}

/*====== Puzzle Image 1 =======*/

#img1-1-draggable {
    position : absolute;
    left     : 750px;
    top      : 0px;
    transform: scale(1);
}

/*===== Grid Images 2 =======*/

#grid1-2 {
    position: absolute;
    top     : 0px;
    left    : 200px;    
}

/*===== Puzzle Image 2 =====*/

#img1-2-draggable {
    position : absolute;
    top      : 0px;
    left     : 900px;
    transform: scale(1);
}

/*===== Grid Image 3 =====*/

#grid1-3 {
    position: absolute;
    top     : 0px;
    left    : 400px;
}

/*===== Puzzle Image 3 =====*/

#img1-3-draggable {
    position : absolute;
    top      : 0px;
    left     : 1050px;
    transform: scale(1);
}

/*====== ROW 2 =======*/

/*===== Grid Image 1 =====*/

#grid2-1 {
    position: absolute;
    top     : 200px; 
    left    : 0px;
}

/*===== Puzzle Image 1 =====*/

#img2-1-draggable {
    position : absolute;
    top      : 170px;
    left     : 750px;
    transform: scale(1);
}

/*===== Grid Image 2 =====*/

#grid2-2 {
    position: absolute;
    top     : 200px;
    left    : 200px;
}

/*===== Puzzle Image 2 =====*/

#img2-2-draggable {
    position : absolute;
    top      : 280px;
    left     : 960px;
    transform: scale(1);
}

/*===== Grid Image 3 =====*/

#grid2-3 {
    position: absolute;
    top     : 200px;
    left    : 400px;
}

/*===== Puzzle Image 3 =====*/

#img2-3-draggable {
    position : absolute;
    top      : 260px;
    left     : 1100px;
    transform: scale(1);
}

/*================ ROW 3 =================*/

/*===== Grid Image 1 =====*/

#grid3-1 {
    position: absolute;
    top     : 400px; 
    left    : 0px;    
}

/*===== Puzzle Image 1 =====*/

#img3-1-draggable {
    position : absolute;
    top      : 700px;
    left     : 310px;
    transform: scale(1);
}

#img3-1-draggable{
    position: absolute;
    left: 700px;
    top: 310px;
}

/*===== Grid Image 2 =====*/

#grid3-2 {
    position: absolute;
    top     : 400px;
    left    : 200px;
}

/*===== Puzzle Image 2 =====*/

#img3-2-draggable {
    position : absolute;
    top      : 420px;
    right    : 220px;
    transform: scale(1);
}

/*===== Grid Image 3 =====*/

#grid3-3 {
    position: absolute;
    top     : 400px;
    left    : 400px;
}

/*===== Puzzle Image 3 =====*/

#img3-3-draggable {
    position : absolute;
    top      : 440px;
    left     : 1100px;
    transform: scale(1);
}

